*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 650px;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container{
    width: 100%;
    
}

.card{
    padding: 1.05rem;
    border-radius: 15px;  
    background-color: hsl(216, 50%, 16%);
    width: 350px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center{
    background-image: url("./images/image-equilibrium.jpg");
    width: 305px;
    height: 318px;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

.card-img{
    width: 305px;
    height: 315px;
}

.card-img:hover{
    background-color: hsla(178, 100%, 50%, 0.5);
    cursor: pointer;
    background-image: url('images/icon-view.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.title{
    width: 100%;
    margin: 15px 30px 8px 30px;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}

.title:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.card > p{
    font-size: 18px;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    margin: 10px 30px;
    width: 300px;
}

.element{
    margin: 5px;
    width: 100%;
    display: flex;
    align-content: flex-start;
    justify-content: space-between; 
}

.eth-element{
    margin-left: 15px;
    display: flex;
    gap: 10px;
}

.etherum{
    color: hsl(178, 100%, 50%);
}

.days{
    margin-right: 30px;
    display: flex;
    gap: 4px;
}

.days-left{
    color: hsl(215, 51%, 70%);
}

hr{
    border: 1px solid hsl(215, 32%, 27%);
    width: 90%;
}

.footer-card{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    margin: 25px;
}

.footer-card > img{
    margin-bottom: 10px;
    width: 40px;
    height: 38px;
    border: 1px solid white;
    border-radius: 100%;
}

h2{
    margin-bottom: 10px;
    font-size: 16px;
    margin-left: 20px;
    color: hsl(215, 51%, 70%);
    font-weight: 400;
}

.name{
    color: white;
}

.name:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .main-container {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    
    body{
        display: grid;
        place-content: center;
    }

    .main-container{
        margin-left: 10px;
        padding: auto;
    }

    .card {
        width: 90%;
    }

}
